body {
  font-size: 1.125em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Standard Buttons Layout */
.btn {
  border-radius: 50px;
  padding: 10px 50px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* HEADER SECTION */
/* container-header */
.container-header {
  background-image: url(../images/bg-hero-desktop.svg);
  width: auto;
  height: 100%;
  background-size: cover;
  padding: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  background-color: hsl(193, 100%, 96%);
}

.cta-button {
  background-color: hsl(322, 100%, 66%);
  color: #FFF;
  margin-top: 20px;
}

.menu-header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-button {
  color: hsl(192, 100%, 9%);
  background-color: #FFF;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
}

.hero-description {
  width: 50%;
  margin-right: 100px;
}

.hero-img {
  width: 100%;
}

.sub-title {
  font-size: 0.95rem;
}

.title {
  font-size: 2.5rem;
}

/* FEATURES SECTION */
.feature-description {
  width: 50%;
  color: hsl(192, 100%, 9%);
  font-family: 'Open Sans', sans-serif;
  margin-right: 100px;
}

.feature-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.feature-sub-title {
  font-size: 0.95rem
}

.feature-img {
  width: 100%;
  font-weight: 400;
}

.feature-img-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.second-feature .feature-description {
  margin-right: 0;
  margin-left: 100px;
}

.flex-wrapper.second-feature {
  flex-direction: row-reverse;
}

.feature-wrapper .flex-wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  border-radius: 20px;
  padding: 0 15px;
  align-items: center;
  padding: 50px;
}

.feature-wrapper {
  margin: 70px 50px 20px 50px;
}
